:root {
    --wall-color: #eeeeee;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--wall-color);
}

div {
    position: absolute;
    margin: auto;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 800px;
    height: 400px;
}

div::before {
    z-index: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    transition: opacity 0.8s linear;
    background: linear-gradient(180deg,rgba(105,98,219,1) 0%, rgba(159,159,194,1) 35%, rgba(243,247,247,1) 100%);
}
div:hover::before {
    opacity: 1;
}

div::after {
    z-index: 1;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    transition: opacity 0.8s linear;
    background: linear-gradient(180deg, rgba(250,148,13,1) 0%, rgba(247,234,194,1) 93%, rgba(249,237,176,1) 100%);
}
div:hover::after {
    opacity: 1;
}